{% extends 'core/base.html' %}

{% block title %} Browse {% endblock %}

{% block content %}

<div class="bg-gray-100 grid grid-cols-4 p-6 gap-4">
    <div class="col-span-1">
        <form method="get" action="{% url 'item:items' %}">
            <input class="w-full p-2 border rounded" type="text" name="query" id="query" value="{{ query }}" placeholder="Find products...">
            <button class="px-4 py-2 mt-2 bg-rose-600 rounded text-white text-center">Search</button>
        </form>
        <hr class="my-4">
        <div>
            <h3 class="text-xl font-semibold mb-2">Categories</h3>
            <ul>
                {% for category in categories %}
                <li class="p-2 rounded {% if category.id == category_id %} bg-slate-500 {% endif %}">
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr class="my-4">
        <div>
            <h3 class="text-xl font-semibold mb-4">Clear filters</h3>
            <a class="bg-orange-500 py-2 px-4 rounded" href="{% url 'item:items' %}">Reset</a>
        </div>
    </div>
    <div class="col-span-3">
        <div class="grid grid-cols-3 gap-4">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="aspect-w-16 aspect-h-9">
                            <img src="{{ item.image.url }}" alt="{{ item.name }}" srcset="" class="object-cover w-full h-full rounded-t-md">
                        </div>
                        <hr>
                        <div class="bg-white p-4 rounded-b-md">
                            <h3 class="text-xl text-[#0d0d0d]">{{ item.name }}</h3>
                            <p class="text-gray-600">Price: $ {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}