{% extends 'core/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="bg-gray-100 max-w-md mx-auto mt-12 w-full p-8">
    <form action="." method="post">
        {% csrf_token %}
    
        <h2 class="text-2xl font-semibold mb-6">Login</h2>
        <div class="mb-2">
            <label for="username" class="block mb-1 font-medium">Username</label>
            {{ form.username }}
        </div>
        <div class="mb-2">
            <label for="password" class="block mb-1 font-medium">Password</label>
            {{ form.password }}
        </div>
        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-4 bd-red-100 rounded">
                {%for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button class="bg-rose-600 px-4 py-2 mt-2 rounded text-white text-center">Submit</button>

    </form>
</div>
{% endblock %}